<%= simple_form_for(@pessoa, method: :delete, html: { class: 'contents', novalidate: true }) do |f| %>
    <div class="block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full my-5">
        <p>
            <%= t("pessoas.confirm_delete.description") %>
        </p>

        <div class="inline">
            <%= f.button :submit, t("pessoas.confirm_delete.submit"), class: "rounded-lg py-1 px-3 bg-red-600 text-white inline-block font-medium"%>
        </div>

        <%= link_to t("pessoas.confirm_delete.cancel"), pessoas_path, class: "rounded-lg py-1 px-3 bg-gray-200 text-black inline-block font-medium" %>
    </div>
<% end %>
